.main-container{
    display: flex;
    flex-direction: row;
}
.main-container-section{
    height: auto;
    width: 70vw;
    display: flex;
    flex-direction: column;
}
.card{
	display: flex;
    flex-direction: row;
    width: 63vw;
    background-color:  #2e334b;
    margin-left: 4rem;
    margin-top: 2rem;
    
}
.card-profile{
	height: 60vh;
    width: 30vw;
    background-image: url(./../../static/singer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: height 0.5s, width 0.5s;
    border-radius: 10px;
}
.card-description{
	height: 40vh;
	width: 40vw;
	margin-top: 2rem;
	margin-left: 1rem;
}
.card-description-header{
	display: flex;
	flex-direction: row;
}
#dis-hed{
	position: absolute;
	margin-left: 10rem;
}
#about{
	font-family: "Times New Roman", Times, serif;
	font-weight: 100;
}
#btn{
	height: 3rem;
	width: 8rem;
	background-image: linear-gradient(#8A2BE2,#DDA0DD);
	border:1px solid #DDA0DD;
}